:root {
   /* Background Variables */
   --background-image: url("https://cdn.jsdelivr.net/gh/Troy-OS/public@main/wallpapers/Stock-2.jpg");

   --backdrop-filter: blur(10px) brightness(80%);

   --background-nav: #173055;
   --background-color: #173055;
   --background-input: #4a6fa5;
   --background-column: #173055;
   --background-settings: #173055;
   --background-buttons: #3665ac;

   --tab-active-background: #204a88;
   --slider-active-background: #204a88;
   --slider-inactive-background: #204a88;

   --nav-image: url("https://cdn.jsdelivr.net/gh/user/theme-assets/assets/media/favicon/main.png");

   /* Text Variables */
   --text-primary: #ffffff;
   --text-dark: #1b50cc;
   --text-placeholder: #00d9ff;

   /* Other Variables */
   --tab-hover: #a05959;
}
